.custom-form {
    max-width: 400px;
    margin: 30px auto;
}

.form-group {
    margin-bottom: 20px;
}

.form-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-control {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Ensure padding and border are included in the width */
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
}

button.delete{
    background-color: red !important;
}

button:hover {
    background-color: #45a049;
}


  /* CSS for table */
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  
  /* CSS for table headers */
  th {
    background-color: #f2f2f2;
    padding: 8px;
    text-align: left;
  }
  
  /* CSS for table cells */
  td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  /* CSS for table rows */
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  /* CSS for table rows on hover */
  tr:hover {
    background-color: #ddd;
  }
  