.container{
    margin: 10px 50px 10px 50px;
}

/* Style for the Delete Account Section */
.delete-section {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.delete-section h1 {
    color: #333;
}

.delete-section p {
    color: #666;
}

/* Style for the List indicating removed data */
.removed-data-list {
    list-style-type: none;
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.removed-data-list h2 {
    background-color: #3498db;
    color: #fff;
    padding: 20px;
    border-radius: 8px 8px 0 0;
    margin: 0;
}

.removed-data-list li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.removed-data-list li:last-child {
    border-bottom: none;
}
