<div class="container">
    <!-- Delete Account Section -->
    <div class="delete-section">
        <h1>Delete Your Account</h1>
    </div>

    <!-- List indicating removed data -->
    <div>
        <h2 class="removed-data-list">After deleting your account, the following data will be removed:</h2>
        <ul class="removed-data-list">
            <li>Your profile information</li>
            <li>Account settings</li>
            <li>Any associated data</li>
            <!-- Add more items as needed -->
        </ul>
    </div>

    <div>
        <h2 class="removed-data-list">Process to delete your account:</h2>
        <ul class="removed-data-list">
            <li>Login with your credential</li>
            <li>Authorize with the token</li>
            <li>Give phone number associated with the logged in account and click on execute! Boom!!!</li>
            <!-- Add more items as needed -->
        </ul>
    </div>

    <div id="swagger-ui"></div>
</div>
